<% layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <form method="post" action="/listings" novalidate class="needs-validation">
        <br>
        <h3>Create a new Listing</h3>
        <br><br>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input 
            type="text" 
            name="listing[title]" 
            placeholder="Enter the title"
            class="form-control"
            required>
            
            <div class="invalid-feedback">Please Enter Valid Title</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
            type="text" 
            name="listing[description]" 
            class="form-control"
            required >
        </textarea>
        <div class="invalid-feedback">Please Enter Valid Description</div>
        </div>

        <div class="mb-3">
        <label for="image-url" class="form-label">Image URL</label>
        <input type="text" 
        name="listing[image]" 
        id="image-url" 
        placeholder="Enter image URL"
        class="form-control">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input
                 type="number" 
                 name="listing[price]" 
                 placeholder="1000"
                 class="form-control"
                 required>
                 <div class="invalid-feedback">Please Enter Valid Price</div>
            </div>
    
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input 
                type="text" 
                name="listing[country]" 
                placeholder="Enter the country name"
                class="form-control"
                required>
                <div class="invalid-feedback">Please Enter Valid Country</div>
            </div>
        </div>

       

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input 
            type="text" 
            name="listing[location]" 
            placeholder="Enter the location name"
            class="form-control"
            required>
            <div class="invalid-feedback">Please Enter Valid Location</div>
        </div>
        
        <br>
        <br>
         
        <button class="btn btn-dark add-btn">ADD</button>
        <br>
    </form>
    <br><br>
</div>
</div>
</body>
